/* Write your CSS here */
.bg-Container {
  color: #ffffff;
}

.teamMatchContainer {
  background-color: black;
  background-size: cover;
  padding: 20px;
}
.teamBanner {
  width: 100%;
}
.loder {
  text-align: center;
}
